# Tracking and counting software CONFIGURATION FILE
# Author: Derek Gloudemans; Vanderbilt University
# Date: 3/20/2021
# -----------------------------------------------------

skip_step== 3                             # perform localization every _ frames                                        
ber==1.6                                  # a priori object bounding boxes are expanded by _ to make sure the object is fully contained within the crop
R_red==10000                                # measurement error covariance matrix for localizer is reduced by a factor of _ to over-weight it's influence on the filter
cs==112                                   # standard crop size

sink_iou==0.7                             # once an object is _ contained in a sink, it is killed and considered fully tracked
ignore_iou==0.9                           # once an object is _ contained in an ignored region, it is killed and considered lost 

conf_new==0.3                            # required confidence for new object to be created at a source
iou_new==0.3                              # new objects that overlap by _ will be pruned (with preference given for existing objects to remain)
iou_overlap==0.7                          # for trimming new objects that overlap with existing objects

t_cutoff==-1
W==0.5                                    # weights confidence in matching objects (if 1, conf weighted equally to iou. If 0, conf not considered at all)
conf_loc==0.5                             # bboxes with conf below _ are considered low confidence
iou_loc==0.3                              # bboxes with iou to a priori object below _ are considered low-confidence 
fsld_max==3                               # objects with low-confidence bboxes associated _ frames will be killed (-1 = no limit)
keep_classes==0,1                         # objects in other classes are ignored
output_video_path==None                   # self-explanatory


    

